:root{--background-color:#E5E5E5;
--text-color: #434455;
--title-color: #2E2F42;
--accent-color: #4D5AE5;}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

/* LOGOTYP */
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: var(--accent-color)}
        .color{ color: var(--title-color)}
        /* MENU NAVIGATION STYLE */
        .list {list-style: none;}
        .nav>.list{list-style:none;}
        .link-menu>.link{font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--title-color);}
     .link-menu>.link:hover,
       .link-menu>.link:focus{color: #404BBF;}
       
/* CONTAKTS ADRESS */
.address-style{
    font-style: normal;
}
.contacts {
    text-decoration: none;

    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.contacts:hover,
.contacts:focus{color:#404BBF;}

      /* BUTTON STUDIO STYLE */
    .button {
     color: #FFFFFF;
     background-color: var(--accent-color);
 cursor: pointer;
 font-family: 'Roboto', sans-serif;
       font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
letter-spacing: 0.04em;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px
     }               
   .button:focus,
   .button:hover {
   background-color: #404BBF;
   }
  .button:active
/* STUDIO 1 SECTION */
        .section-style { background-color: var(--title-color);
        }
 .title-hero {
     color: var(--background-color);
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     text-align: center;
     letter-spacing: 0.02em;
     color: #FFFFFF;
 }
 /* SEKTION 2 TEXT STYLE */
 .sektion-white {background-color: #FFFFFF;}
 .title-text{ color: var(--title-color);
    font-weight: 500;
        font-size: 20px;
        line-height:1.2;
        letter-spacing: 0.02em;
}
.list-text{
    color: var(--text-color);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* SEKTION 3 BLACKGROUND */
.background-white{
    color:#FFFFFF;
}
/* SEKTION 3 TEXT STYLE */
 .title{color: var(--title-color);
    font-weight: 700;
font-size: 36px;
line-height: 1.11; 
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize
}
  .title-post-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align:center;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
    /* SEKTION 4 BACKGROUND */
.background-cloud{
    background-color: #F4F4FD;
}
 
/* FOOTER LOGOTYP + BLACKGROUND */
.footer-style{background-color: var(--title-color)
}
.color-footer-logo{ color: #F4F4FD;}
/* FOOTER TEXT STYLE */
.text-post-footer{ color: var(--background-color);
    font-style: normal;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}
/* PORTFOLIO CSS */
/* BUTTON STYLE(PORTFOLIO) */
.button-style{ background: #F4F4FD;
        border: 1px solid #E7E9FC;
        cursor:pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)}
 .button-text-portfolio>.button-style{ color:#4D5AE5;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em; }
.button-style:hover,
.button-style:focus{
    background-color:#404BBF;
}
.button-text-portfolio>.button-style:focus,
.button-text-portfolio>.button-style:hover{color: #FFFFFF;}
    .link{
        text-decoration: none;}







