*,
::after,
::before {
    box-sizing: border-box;
}
:root{--background-color: #E5E5E5;
--text-color: #434455;
--title-color: #2E2F42;
--accent-color: #4D5AE5;
--bg-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
) ;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    /* letter-spacing: 0.2em; */
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6,p{margin: 0;}
ul,ol{padding-left: 0;
margin:0;
list-style: none;}

.section{padding-top: 120px;
    padding-bottom: 120px;
}
.visual-hidden{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    max-width: 1158px;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}
         .container>.contaiter-section {
             justify-content: center;
             flex-direction: row;
             background-color: #404BBF;
         }

header{border-bottom: 1px solid #E7E9FC;}
.header-container{
display: flex;
    align-items: center;
}

        /* LOGOTYP */
        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--accent-color);
            margin: 0 auto;
        }
                 .color {
                     color: var(--title-color)
                 }
/* Navigation-Studio */
 /* MENU NAVIGATION STYLE */
   .list {
       display: inline-flex;
       align-items: center;
   }
  .list {
      list-style: none;
  }
.header-list {
    margin-left: 76px;
}

.list-style-studio {
    background-color: #FFFFFF;
}
  .nav>.list {
      list-style: none;
  }

   .link-menu>.link { 
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--title-color);
      transition: color var(--transition);
  }

  .link-menu>.link:hover,
  .link-menu>.link:focus
   {
      color: #404BBF;
  }

.link {
    display: block;
    align-content: center;
    align-items: baseline;
    margin-right: 0 auto;
}
 .link-menu>.thumb-header{position:relative;
   color: #404bbf;
}


.thumb-header::after{ position: absolute;
    left: 0;
    bottom: -24px;
content: '';
display: inline-block;
width: 100%; 
height: 4px;
background: #404BBF;
border-radius: 2px;
bottom: -1px;
}

.link {
    text-decoration: none;
}
.link-menu:not(:last-child){margin-right: 40px;}

link-menu:last-child{
    margin-right: 0;
}

  .link-menu>.link{
    display: block;
    padding-top:24px ;
    padding-bottom: 24px ;
  }

/* ADRESS STYLE-ADRESS */

 .header-address{
    display: flex;
    align-content: flex-end;
    align-items: center;
    margin-left: auto;
  
} 
.address-list {
    display: flex;
    margin-right: 0 auto;
}
.header-address {
    font-style: normal;
}

.link-contacts>.contacts {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transition);
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

/* SEKTION HERO */
 .hero-container {
     background-color: var(--title-color);
     flex-grow: 1;
     padding: 188px 472px 292px 472px;
    }
  .hero {
      text-align: center;
      padding-top: 188px;
      padding-bottom: 188px;
      margin: 0 auto;
      max-width: 1440px;
      height: 600px;
    background-color: var(--title-color);
    background-image: var(--bg-gradient),
     url(../images/herowrap.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
  }

  .title-hero {
    max-width: 496px;
      display: block;
      margin: 0 auto;
      margin-bottom: 48px;
      text-align: center;

      color: var(--background-color);
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color: #FFFFFF;
  }
/* BUTTON-HERO-SECTION-STUDIO */
 .button {
     color: #FFFFFF;
     background-color: var(--accent-color);
     cursor: pointer;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     display:block;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
     min-width: 169px;
     transition: background-color  var(--transition);
 }
 .button {
     display: block;
     border-radius: 4px;
     text-align: center;
     min-width: 169px;
     padding: 16px 32px;
        margin: 0 auto;
    transition: background-color  var(--transition); }
           
 .button:focus,
 .button:hover {
     background-color: #404BBF;
 }

 .button:active

/* SECTION-2-STUDIO-STYLE */
  .section {
      display: block;
  }
.sektion-white {
    padding: 120px 0px;
}

.title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
}


.title-text {
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.title-text {
    margin-bottom: 8px;

}
  .list-text {
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .feature-list {
      display: flex;
      gap: 24px;
  }

  .list>.item {
      width: 264px;
  }
 
  .icon-section {
      width: 64px;
      height: 64px;
  }
 .icon-box{
justify-content: center;
align-items: center;
display: flex;
height: 112px; 
background-color: #F4F4FD;
border-radius: 4px;
margin-bottom: 8px;
}  




       /* SECTION-3 >What are we doing-STUDIO-STYLE */
           .background-white {
               color: #FFFFFF;
           }

.section-work{padding-top: 0px;}
.title-work {
    margin-bottom: 72px;
}

.item-image {
    margin-right: 24px;
}

.item-image:last-child {
    margin-right: 0px;
}

/* SECTION-4-OUR-TEAM-STYLE */
.background-cloud {
    background-color: #F4F4FD;
    padding: 120px 0px;
}


.title-team {
    margin-bottom: 72px;
}

.title-post-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}



.item-image-team {
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.item-image-team:last-child {
    margin-right: 0px;
}

.card-content {
     padding-top: 32px; 
     padding-left:16px ;
     padding-right:16px ;
     padding-bottom: 32px;
    text-align: center;
}

.item-image-team:last-child {
    padding-right: 0px;
}


.team-soc-list{
    display: flex;
    gap: 24px;
     margin-top: 8px; 
}

 .social-item{
   width:40px ;
   height:40px ; 
  
}

.social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color  var(--transition);
}
.social-link:hover,
.social-link:focus{
    background-color: darkblue;
}


.social-icon{
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
}


/* SEKTION CUSTOMERS */
.section-customers{
padding-top: 120px;
padding-bottom: 120px;
}
.title-customers{margin-bottom: 72px;}

.customers-logo-list{
display:flex;
gap: 24px;
}


.customers-link:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.customers-link:hover,
.customers-link:focus{
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 168px;
    border-radius: 4px;
    border: 1px solid currentColor;
    color: #8E8F99;
    transition: color var(--transition),  box-shadow var(--transition);
}
     .customers-icon{
        width:104px ;
        height:56px ;
        fill: currentColor;
    } 

/* FOOTER-STYLE+FOOTER LOGOTYP */
.footer-container{display: flex;
}
.content-social-media{
margin-left: 120px;


}
.footer-text-media{
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;}



.footer-style {
    background-color: var(--title-color);
    padding: 100px 0px;
    
}
.color-footer-logo {
    color: #F4F4FD;
}

.text-post-footer {
    color: #F4F4FD;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-top: 16px;
    width: 264px;
}
.footer-soc-list{
    display: flex;

justify-content: center;
gap: 16px;

}
.footer-icon{
    fill: #F4F4FD;
    width: 24px;
    height: 24px;
}


.footer-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#434455 ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition), box-shadow var(--transition);
}
.footer-link:focus,
.footer-link:hover{
    background-color: #31D0AA;
    box-shadow: 0px 4px 4px whitesmoke;
}
.footer-social--item{
height: 40px;
width: 40px;
}
.content-subscribe{
   margin-left: 80px;
}
.footer-input{
    font-weight: 400;
font-size: 12px;
color: #FFFFFF;
    background-color: #2E2F42; 
  min-width: 264px;
    height: 40px;
   border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}
.footer-input::placeholder{
    color: #FFFFFF;
}
.button-footer{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 165px;
   height: 40px;
   background-color:#4D5AE5;
   color: #FFFFFF;
   font-weight: 500;
   letter-spacing: 0.02em;
font-size: 16px;
cursor: pointer;
border: transparent;
border-radius: 4px;
padding: 8px 24px;
gap: 16px;
transition: background var(--transition), box-shadow var(--transition) ;
}
.button-footer:focus,
.button-footer:hover{
 background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.icon-subscribe{
    width:24px ;
    height:24px;
   margin-top: 2px;
}
.form-footer{
    display: flex;
    gap: 24px;
}
   /* BUTTON STYLE(PORTFOLIO) */

   .box-portfolio::after{ position: absolute;
    content: '';
    display: inline-block;
    width: 100%; 
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
    bottom: -1px;
    }
    
   .button-style{ background: #F4F4FD;
    border: 1px solid #F4F4FD;
    cursor:pointer;
border-radius: 4px;

}
.button-style:hover,
.button-style:focus {
    background-color: #404BBF;
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.button-position-portfolio{
display: flex;
justify-content: center;
gap:24px;
 margin-bottom: 72px; 
}  

 .button-text-portfolio>.button-style{ color:var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em; 
    padding: 12px 24px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}

 .button-text-portfolio>.button-style:focus,
.button-text-portfolio>.button-style:hover{color: #FFFFFF;}

/* IMAGE-WRAP-PORTFOLIO */

.image-wrap{
    display: flex;
 padding-bottom: 120px;

}
.hover-wrap{position: relative;
overflow: hidden;
}

.image-item-wrap{
  
    width: calc((100% - 48px) / 3);
   }

   .hover-text{
    position: absolute;
    top: 0px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    padding: 40px; 
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
 }
   .wrap-shadow{display: block;
transition: box-shadow var(--transition);}
   
   .wrap-shadow:focus,
   .wrap-shadow:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrap-shadow:hover .hover-text,
.wrap-shadow:focus .hover-text
{
    transform: translate(0);
}


.list-image-portfolio{
flex-wrap: wrap;
gap:48px 24px}

.section-portfolio{
padding-top: 96px;
padding-bottom:120px;
}
.image-content-text{
 padding: 32px 16px;
border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
} 
image-portfolio{
    display: block;
        width: 360px;
        text-align: center;
        margin: 32px 0px;
        padding: auto;
        justify-content: center;
}
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 300ms linear, visibility 300ms linear;
}
.modal{
    width:408px ;
   height: 576px;
background: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    padding: 72px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0) skew(0);
    transition: transform 300ms linear;
}
.modal-button{ display: block;
    margin-left: auto;
border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
transition: background-color var(--transition), background-color var(--transition),  fill var(--transition);
}
.modal-close{
    display: flex;
    align-items: center;
    justify-content: center;
   margin:0 auto;
    width: 8px;
    height: 8px;  
} 
.modal-button:hover,
.modal-button:focus{
    background-color: #404BBF;
    background-color: var(--accent-color);
    fill: #FFFFFF;}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0) rotate(-120deg) skew(30deg);
}
.modal-title{
    font-family: "Roboto";
font-weight: 500;
font-size: 16;
color:#2E2F42;
text-align: center;
margin-bottom: 16px;
}
.modal-text{
    display: block;
    margin-bottom: 4px;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
     padding-left: 38px; 
     outline: transparent;
     transition: border-color var(--transition),
     fill var(--transition);
}

 .modal-input:focus{
   border-color: #404bbf;
} 

.modal-input:focus+ .modal-icon{
    fill:#4D5AE5;
}
.modal-input::placeholder{
    color:#8E8F99 ;
    font-size: 12px;
}

.modal-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #8E8F99;
}


.modal-label:last-child{
    margin-bottom: 0px;
}
.modal-label.span{
    display: block;
     margin-bottom: 4px; 
}
.input-wrap{
position: relative;

}
.modal-icon{
    display: block;
    width: 22px;
    height: 24px;
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 16px;
}


.modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
     outline: transparent;
     padding: 8px 16px;
     resize: none;
     transition: border-color var(--transition);
     
}

.modal-textarea:focus
{border-color:#4D5AE5;}

.field-modal{
    margin-bottom: 24px;
    position: relative;
}

.input-checkbox{
        position: relative;
    }

 .input-checkbox:checked + .text-checkbox span{
    background-color: #4D5AE5;
    border: none;
    fill: #FFFFFF;
}  
.check-icon{
    width: 10px; 
    height: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.text-checkbox
{display: flex;
 font-size: 12px;
 align-items: center;
 color: #757575;
}
.text-checkbox::before{

}
.text-checkbox span{
    display: flex;
width: 16px;
height: 16px;
 border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
align-items: center;
justify-content: center;
 fill: transparent;
 cursor: pointer;
}
.link-checkbox{margin-left: 4px;
    color: #4D5AE5;
    text-decoration-line: underline;}